.item{
 
    border: 1px solid blueviolet;
    
}

.photoUser{
    width: 80px;
    border-radius: 15px;
}
.main_View{
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}